<!doctype html>
<html lang="en">
  <head>
    <title>Fantasy Manager</title>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    #results {
      text-align: center;
    }
    </style>
  </head>
  <body>
    <main>
      <div class="fantasy-manager">
        {{ yield }}
      </div>
    </main>
  </body>
</html>
