<!doctype html>
<html lang="en">
  <head>
    <title>Fantasy Manager</title>
  </head>
  <body>
    <main>
      <div class="fantasy-manager">
        {{ yield }}
      </div>
    </main>
  </body>
</html>
