<h1>Leagues</h1>

{{ if . }}
<div id="leagues">
  <ul>
    {{ range $l := . }}
      <li><div><a href="/leagues/{{ $l.ID }}">{{ $l.Name }} ({{ $l.Year }})</a></div></li>
    {{ end }}
  </ul>
</div>
{{ end }}

<hr/>

<h2>Add new league</h2>
<div class="addLeague">
  <form id="search" method="get" action="/leagues/platformLeagues">
      <div>
        <label for="platform">Select platform</label>
        <select name="platform" id="platform">
          <option value="sleeper">Sleeper</option>
          <option value="yahoo">Yahoo</option>
        </select>
      <div>
      <div><label for="username">Username for sleeper, empty for yahoo</label></div>
      <div><input type="text" id="username" name="username" /></div>
    </div>
    <div><input type="submit" value="Next" /></div>
  </form>
</div>
