<h1>{{ .league.Name }}</h1>

<div>year: {{ .league.Year }}</div>
<div>archived: {{ .league.Archived }}</div>

<div id="managers">
  <h2>Managers</h2>
  {{ if .league.Managers }}
    <ul>
      {{ range $m := .league.Managers }}
        <li>{{ $m.ManagerName }} {{ if $m.TeamName }}({{ $m.TeamName }}){{ end }}</li>
      {{ end }}
    </ul>
  {{ else }}
    <div>No managers found</div>
  {{ end }}

  <div id="refreshManagers">
    <form id="refreshmanagers" method="post" action="/leagues/{{ .league.ID }}/managers">
      <div><input type="submit" value="Sync Managers" /></div>
    </form>
  </div>
</div>

{{ if .results }}
<br/>
<div id="results">
  <table>
    <tr><td colspan="100%">Results</td></tr>
    <tr>
      <th>Week 1</th>
      <th>Week 2</th>
      <th>Week 3</th>
      <th>Week 4</th>
      <th>Week 5</th>
      <th>Week 6</th>
      <th>Week 7</th>
      <th>Week 8</th>
      <th>Week 9</th>
      <th>Week 10</th>
      <th>Week 11</th>
      <th>Week 12</th>
      <th>Week 13</th>
      <th>Week 14</th>
      <th>Week 15</th>
      <th>Week 16</th>
      <th>Week 17</th>
    </tr>
    <tr>
    {{ range $r := .results }}
      <td><a href="/leagues/{{ $.league.ID }}/week/{{ $r }}">{{ $r }}</a>
    {{ end }}
    </tr>
  </table>
</div>
{{ end }}

<br/>
<div id="syncResults">
  <form id="syncResults" method="post" action="/leagues/{{ .league.ID }}/results/sync">
    <div>
      <label for="week">Select week:</label>
      <select name="week" id="week">
        <option value="1">Week 1</option>
        <option value="2">Week 2</option>
        <option value="3">Week 3</option>
        <option value="4">Week 4</option>
        <option value="5">Week 5</option>
        <option value="6">Week 6</option>
        <option value="7">Week 7</option>
        <option value="8">Week 8</option>
        <option value="9">Week 9</option>
        <option value="10">Week 10</option>
        <option value="11">Week 11</option>
        <option value="12">Week 12</option>
        <option value="13">Week 13</option>
        <option value="14">Week 14</option>
        <option value="15">Week 15</option>
        <option value="16">Week 16</option>
        <option value="17">Week 17</option>
        <option value="18">Week 18</option>
      </select>
    </div>
    <div><input type="submit" value="Sync Results" /></div>
  </form>
</div>
