<div class="player-details">
  <h1>{{ .player.FirstName }} {{ .player.LastName }}</h1>
  {{ if .player.Nickname1 }}
    <h2>"{{ .player.Nickname1 }}"</h2>
    <div id="delete-nickname">
      <form id="delete-nickname" method="post" action="/players/{{ .player.ID }}">
        <input type="hidden" name="update" value="nickname" />
        <input type="submit" value="Delete Nickname" />
      </form>
    </div>
  {{ else }}
    <div id="delete-nickname">
      <form id="set-nickname" method="post" action="/players/{{ .player.ID }}">
        <input type="hidden" name="update" value="nickname" />
        <input type="text" id="nickname" name="nickname" />
        <input type="submit" value="Set Nickname" />
      </form>
    </div>
  {{ end }}
  <div>
    {{ if .player.Team }}
      <div>Team: {{ .player.Team.Friendly }}</div>
    {{ end }}
    {{ if .player.Position }}
      <div>Position: {{ .player.Position }}</div>
    {{ end }}
    {{ if gt .player.DepthChartOrder 0 }}
      <div>Depth Chart Order: {{ .player.DepthChartOrder }}</div>
    {{ end }}
    {{ if gt .player.Jersey 0 }}
      <div>Jersey Number: {{ .player.Jersey }}</div>
    {{ end }}
    {{ if gt .player.Weight 0 }}
      <div>Weight: {{ .player.Weight }} pounds</div>
    {{ end }}
    {{ if gt .player.Height 0 }}
      <div>Height: {{ .player.Height|height }}</div>
    {{ end }}
    {{ if .player.BirthDate }}
      <div>Birthday: {{ .player.BirthDate|age }}</div>
    {{ end }}
    {{ if .player.RookieYear }}
      <div>Rookie Year: {{ .player.RookieYear|year }}</div>
    {{ end }}
    {{ if gt .player.YearsExp 0 }}
      <div>Years Experience: {{ .player.YearsExp }}</div>
    {{ end }}
    {{ if .player.College }}
      <div>College: {{ .player.College }}</div>
    {{ end }}
    {{ if .player.Active }}
      <div>Status: Active</div>
    {{ else }}
      <div>Status: Inactive</div>
    {{ end }}

    {{ if .scores }}
      <div>Scores</div>
      <ul>
        {{ range $s := .scores }}
          <li>{{ $s.LeagueID }} - Week: {{ $s.Week }}: {{ $s.Score|score }}</li>
        {{ end }}
      </ul>
    {{ end }}

    {{ if .player.Changes }}
      <div>Changes</div>
      <ul>
        {{ range $c := .player.Changes }}
          <li>{{ $c.String }} on {{ $c.Time|date }}</li>
        {{ end }}
      </ul>
      <div>Last updated: {{ .player.Updated|date }}</div>
    {{ else }}
      <div>Last updated: {{ .player.Created|date }}</div>
    {{ end }}
  </div>
</div>